html, body {
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.bx {
    font-size: 1.25rem;
    color: lightgray;
}

.x {
    cursor: pointer;
    color: lightgray;
    border: none;
    border-right: 1px solid lightgray;
    background-color: transparent;
}

.header {
    height: 3.75rem;
    display: flex;
    padding: 0px 4%;
    margin-bottom: 6.25rem;
    align-items: center;
    justify-content: flex-end;
}

.header__text {
    font-size: 0.8125rem;
    cursor: pointer;
}

.header__text:hover {
    color: gray;
    text-decoration: underline;
}

.mr {
    margin-right: 0.9375rem;
}

.header__menu {
    width: 0.9375rem;
    height: 0.9375rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.header__menu:hover .header__menu-square {
    background-color: black;
}

.header__menu-square {
    width: 0.25rem;
    height: 0.25rem;
    margin: auto;
    background-color: grey;
}

.header__img {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    cursor: pointer;
    object-fit: contain;
}

.searcher {
    display: flex;
    flex-direction: column;
    padding: 0px 32%;
    margin-bottom: 2.5rem;
}

.searcher__logo {
    margin: 0px auto;
    width: 15.625rem;
    height: 5.75rem;
    margin-bottom: 1.25rem;
    object-fit: contain;
}

.searcher__input {
    display: flex;
    margin-bottom: 1.875rem;
    flex-direction: column;
    border-radius: 1.5625rem;
    border: 0.0625rem solid lightgray;
}

.searcher__input:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.searcher__input-div {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
}

.searcher__input-input-div-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.searcher__input-input-div-input:focus {
    outline: none;
}

.searcher__input-div i:last-child {
    margin-left: auto;
}

.searcher__input-options {
    width: 100%;
    height: auto;
    padding-bottom: .3125rem;
}

.searcher__input-options-option {
    display: flex;
    align-items: center;
    margin: 0px 0.9375rem;
    padding: 5px 0;
    cursor: context-menu;
}

.searcher__input-options-option:first-child {
    border-top: 0.0625rem solid lightgray;
}

.searcher__input-options-option:hover {
    background-color: rgb(243, 243, 243);
}

.searcher__input .searcher__buttons {
    margin: 0.625rem auto;
}

.searcher__buttons {
    margin: 0px auto;
}

.searcher__buttons-button {
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.3125rem;
    font-size: 0.875rem;
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.searcher__buttons-button:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);   
}

.hidden {
    opacity: 0;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .searcher {
        padding: 0px 20%;
    }
}

@media only screen and (max-width: 500px) {
    .searcher {
        padding: 0px 5%;
    }

    .searcher__buttons-button {
        padding: 0.625rem 0.625rem;
        font-size: 0.75rem;
    }

    .footer__text {
        font-size: 0.75rem;
    }
}