html, body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

.bx {
    font-size: 1.25rem;
    color: blueviolet;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 2% 0px 2%;
    border-bottom: 1px solid lightgray;
}

.mr {
    margin-right: 2.5rem;
}

.header__search {
    display: flex;
    align-items: center;
    margin-bottom: .625rem;
}

.header__search-logo {
    width: 6.25rem;
    height: 3.125rem;
    object-fit: contain;
}

.header__search-input-div {
    display: flex;
    width: 50%;
    align-items: center;
    padding: 0.75rem 1.25rem;
    border: 0.0625rem solid lightgray;
    border-radius: 1.5625rem;
}

.header__search-input-div:hover {
    box-shadow: 0px 0px .3125rem 0px rgba(0,0,0,0.2);
}

.header__search-input-div .mr,
.header__search-user .mr {
    margin-right: 0.625rem;
}

.header__search-input-div-input {
    width: 100%;
    border: none;
}

.header__search-input-div-input:focus {
    outline: none;
}

.header__search-user {
    display: flex;
    align-items: center;
    height: 3.75rem;
    margin-left: auto;
}

.header__search-user-menu {
    display: flex;
    width: 0.9375rem;
    height: 0.9375rem;
    padding: .5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 50%;
    cursor: pointer;
}

.header__search-user-menu:hover .header__search-user-menu-square {
    background-color: black;
}

.header__search-user-menu-square {
    width: 0.25rem;
    height: 0.25rem;
    margin: auto;
    background-color: grey;
}

.header__img {
    width: 1.875rem;
    height: 1.875rem;
    padding: .5rem;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
}

.header__search-user-menu:hover,
.header__img:hover {
    background-color: lightgray;
}

.header__options {
    display: flex;
    align-items: center;
    margin: 0px 12%;
}

.header__options-option {
    display: flex;
    position: relative;
    padding: .9375rem .625rem;
    cursor: pointer;
}

.selected:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .125rem;
    background-color: blue;
}

.selected .header__options-option-text {
    color: blue;
}

.header__options-option .bx,
.header__options-option-text {
    font-size: .875rem;
    color: gray;
}

.header__options .mr {
    margin-right: .3125rem;
}

.results {
    margin: .3125rem 40% 0px 12%;
    display: flex;
    flex-direction: column;
}

.results__result {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.25rem .3125rem;
}

.results__result-link {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: .3125rem;
    text-decoration: none;
}

.results__result-href {
    text-decoration: none;
    font-size: 0.875rem;
    margin-bottom: .3125rem;
    color: green;
}

.results__result-link:hover {
    text-decoration: underline;
}

.results__result-text {
    font-size: .875rem;
    color: gray;
    line-height: 1.5;
}

@media only screen and (max-width: 500px) {

    .header__search-input-div {
        width: 100%;
    }

    .header__options,
    .header__search-user {
        display: none;
    }

    .results {
        display: flex;
        flex-direction: column;
        margin: .3125rem 5% 0px 5%;
    }
}



